
@{
    ViewBag.Title = "TestPage";
}

<h2>Test Page</h2>

<br /><br />
@Html.ActionLink("Create Town", "Create", "Town")

<br /><br />
@Html.ActionLink("Create Partner Company", "Create", "PartnerCompany")

<br /><br />
@Html.ActionLink("Create Partner Staff Member", "Create", "PartnerStaffMember")

<br /><br />
@Html.ActionLink("Create Beneficiary", "Create", "Beneficiary")

<br /><br />
@Html.ActionLink("InitDB", "InitDB")

