@model UpayaWebApp.HouseholdAsset

@{
    ViewBag.Title = "Asset Details";
}

<h2>Asset Details (beneficiary: @Html.ActionLink(Model.Beneficiary.Name, "Details", "Beneficiary", new { id = Model.Beneficiary.Id }, null))</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssetType.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetType.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrigEntryDate)
        </dt>
        <dd>
            @FormatHelper.FormatOrigDate(Model.OrigEntryDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { bid = ViewBag.Beneficiary.Id }) |
    @Html.ActionLink("Back to beneficiary", "Details", "Beneficiary", new { id = ViewBag.Beneficiary.Id }, null)
</p>
