@model IEnumerable<UpayaWebApp.HousingInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HasElectricity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfRoomsType.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoofMaterialType.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterSourceType.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WallMaterialType.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CookingEnergyType.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HasElectricity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfRoomsType.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoofMaterialType.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WaterSourceType.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WallMaterialType.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CookingEnergyType.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
