@model UpayaWebApp.PartnerStaffMember

@{
    ViewBag.Title = "Staff Member Details";
}

<h2>Staff Member Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternalPartnerEmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternalPartnerEmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffType.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffType.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
